html {
    overflow-x: initial !important;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.grid{
    justify-content: space-between;
}
.card {
    overflow:hidden;
}

.searchButton{
    background: black;
}

.suggestionsText{
    margin-top: 50px;
    margin-bottom: 20px;
}