.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.searchComponent{
    visibility: hidden;
}

.grid{
    justify-content: space-between;
}
.card {
    width: 350px;
    height: 150px;
}

.selectedGrid{
    
}